<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.postbar.mapper.PostPraiseMapper">
    <resultMap id="BaseResultMap" type="com.chinasofti.postbar.dto.PostPraise">
        <id column="poPrUUID" jdbcType="VARCHAR" property="poPrUUID"/>
        <result column="postUUID" jdbcType="VARCHAR" property="postUUID"/>
        <result column="userUUID" jdbcType="VARCHAR" property="userUUID"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    poPrUUID, postUUID, userUUID
  </sql>
    <select id="selectByExample" parameterType="com.chinasofti.postbar.dto.PostPraiseExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from pb_post_praise
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pb_post_praise
        where poPrUUID = #{poPrUUID,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pb_post_praise
    where poPrUUID = #{poPrUUID,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.chinasofti.postbar.dto.PostPraiseExample">
        delete from pb_post_praise
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.chinasofti.postbar.dto.PostPraise">
    insert into pb_post_praise (poPrUUID, postUUID, userUUID
      )
    values (#{poPrUUID,jdbcType=VARCHAR}, #{postUUID,jdbcType=VARCHAR}, #{userUUID,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.chinasofti.postbar.dto.PostPraise">
        insert into pb_post_praise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="poPrUUID != null">
                poPrUUID,
            </if>
            <if test="postUUID != null">
                postUUID,
            </if>
            <if test="userUUID != null">
                userUUID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="poPrUUID != null">
                #{poPrUUID,jdbcType=VARCHAR},
            </if>
            <if test="postUUID != null">
                #{postUUID,jdbcType=VARCHAR},
            </if>
            <if test="userUUID != null">
                #{userUUID,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.chinasofti.postbar.dto.PostPraiseExample"
            resultType="java.lang.Long">
        select count(*) from pb_post_praise
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update pb_post_praise
        <set>
            <if test="record.poPrUUID != null">
                poPrUUID = #{record.poPrUUID,jdbcType=VARCHAR},
            </if>
            <if test="record.postUUID != null">
                postUUID = #{record.postUUID,jdbcType=VARCHAR},
            </if>
            <if test="record.userUUID != null">
                userUUID = #{record.userUUID,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update pb_post_praise
        set poPrUUID = #{record.poPrUUID,jdbcType=VARCHAR},
        postUUID = #{record.postUUID,jdbcType=VARCHAR},
        userUUID = #{record.userUUID,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.postbar.dto.PostPraise">
        update pb_post_praise
        <set>
            <if test="postUUID != null">
                postUUID = #{postUUID,jdbcType=VARCHAR},
            </if>
            <if test="userUUID != null">
                userUUID = #{userUUID,jdbcType=VARCHAR},
            </if>
        </set>
        where poPrUUID = #{poPrUUID,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chinasofti.postbar.dto.PostPraise">
    update pb_post_praise
    set postUUID = #{postUUID,jdbcType=VARCHAR},
      userUUID = #{userUUID,jdbcType=VARCHAR}
    where poPrUUID = #{poPrUUID,jdbcType=VARCHAR}
  </update>
</mapper>